node_modules
dist

# Environment variables
.env
.env.local
.env.*.local

# Vite / Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
